<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bemutatkozás</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./Assets/css/Bemutatkozas.css">
    <title>Munkatársak</title>
</head>

<section class="textback">
    <div class="text-tartalom">
        <h1>Bemutatkozás</h1><br>
        <h3>Üdvözlet kedves olvasó!</h3><br>
        
        <p>Örülök, hogy szakít időt arra, hogy elolvassa szerény kis vállalkozásunk történetét. Ezt a céget, a Nudentist, édesapámmal az idősebb Takács Józseffel alapítottuk még 2018 decemberében.</p><img src="./Assets/HelperImages/stockfoto2.png" class="rounded float-start img-fluid bemutatkozas_image" alt="..."><br>
        
        <p>Kezdetben mint egy veterán és egy kezdő orvos bármiféle komoly kapcsolatok vagy megtakarítás nélkül vágtunk bele. 
        Nehéz volt. Eleinte ugyebár még egy ismeretlen cég voltunk így kevés páciensönk volt. Úgy az első fél évben elég spórolósan éltünk. Még a zsíros kenyeret is elég felemódján kentük meg. De minden jól elvégzett munka után egy kicsit nőtt az a fajta megbízhatóság és hírnév ami nekünk kellett.</p><br>
        
        <img src="./assets/HelperImages/stockfoto.png" class="rounded float-end img-fluid bemutatkozas_image" alt="...">
        <p>Az elmúlt évek alatt kicsinyke vállakozásunk sokszorosára nőtte ki magát. Ahol egyszer csak egy apa és fia álltak most hat másik doktor áll. Az adminisztrációs munka amit szerény személyem végzett immáron egy profi kezében van. 
        Két kis műtő helyiségből ahol addig dolgoztunk ameddig csak volt munka lett hat műtő és mostmár felváltva dolgozik 6-6 munkatárs.</p><br>
        
        <p>Azoknak akik az elejétől is velünk voltak köszönjük a bizalmukat. Azoknak akik ezentől fognak minket választani köszönjük a lehetőséget.</p><br>
        <p>Tisztelettel, köszönettel és egy cseppnyi büszkeséggel Takács József. Az ifjabbik</p>
        
    </div>
</section>
