<!DOCTYPE html>
<html lang="hu" ng-app="Nudentist">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./Assets/css/Elerhetosegek.css">
   
    
    <title>Elérhetőségeink</title>
</head>
<body>
    <div class="container-fluid">

    </div>
         <h1 id="cim">Elérhetőségek</h1> 
            <h4>Nyitvatartás</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                             8-16 óra
                        </td>
                        <td>
                            8-16 óra
                        </td>
                        <td>
                            10-16 óra
                        </td>
                        <td>
                            14-20 óra
                        </td>
                        <td>
                            9-15 óra
                        </td>
                    </tr>
                    
                    </tbody>
                  </table>
              </div>
           
            <div class="tartalom">
                <h4>
                    Rendelő telefonszáma:
                </h4>
                <p> +36 88 420 1544</p>
                <h4>
                    Rendelő e-mail címe:
                </h4>
                <p>
                    nu.dentist@citromail.hu
                </p>
            </div>

        
    


    
   


    
</body>
</html>