

<h1 class="h1">Nudentist</h1>


      <div class="slide-container swiper">
        <div class="slide-content shadow p-3 bg-body-tertiary rounded" >
            <div class="card-wrapper swiper-wrapper" >
                <div class="card swiper-slide" ng-repeat="Munkatars in Munkatarsak" ng-if="Munkatars.jogok=='doktor'">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Assets/HelperImages/{{Munkatars.kep}}.jpg" class="card-img" alt="{{Munkatars.nev}}" title="{{Munkatars.nev}}" ng-click="toDocProfile(Munkatars.ID)">
                        </div>
                    </div>

                    <div class="card-content">
                        <h5 class="card-title">{{ Munkatars.nev }}</h5>
                        <p class="card-text">{{ Munkatars.email }}</p>
                        <p class="card-text">{{Munkatars.telefonszam}}</p>
                        <p class="card-text">{{ Munkatars.szakterulet }}</p>
                        <p class="card-text">{{ Munkatars.tanulmanyok }}</p>


                    </div>
                </div>
                </div>

        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Budapest/time" style="text-decoration: none" class="clock24" id="tz24-1676466581-c150-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIxIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I2M2VjZDk5NTVmMjI0IiwidHlwZSI6ImRiIiwibGFuZyI6ImVuIn0=" title="local time in Budapest" target="_blank" rel="nofollow">Budapesti idő</a></p><div id="clock_block_cb63ecd9955f224"></div></div>
        <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
    </div>
    

            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                      </tr>
                    </thead>
                    <tbody>

                        
                      <tr>
                        <td>
                            
                             8-16 óra
                        </td>
                        <td>
                            8-16 óra
                        </td>
                        <td>
                            10-16 óra
                        </td>
                        <td>
                            14-20 óra
                        </td>
                        <td>
                            9-15 óra
                        </td>
                    </tr>
                    

                    </tbody>
                  </table>
              </div>
            
       
        <div class="slogen">
            <h4>
                    Megfizethető árakon minőségi szolgáltatásokat nyújtani.                
            </h4>
        </div>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2762.378736170446!2d18.95024397654701!3d46.18302148519132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47431fedb5961e1f%3A0x638f05820a862329!2zQmFqYSwgSmVsa3kgQW5kcsOhcyB0w6lyLCA2NTAw!5e0!3m2!1shu!2shu!4v1683100811535!5m2!1shu!2shu" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<script src="./Assets/js/swiper-bundle.min.js"></script>
<script src="./Assets/js/script.js"></script>
