

<h1>Nudentist</h1>


      <div class="slide-container swiper">
        <div class="slide-content" >
            <div class="card-wrapper swiper-wrapper" >
                <div class="card swiper-slide" ng-repeat="Munkatars in Munkatarsak" ng-if="Munkatars.jogok=='doktor'">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Assets/HelperImages/{{Munkatars.kep}}.jpg" alt="" srcset=""  class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h5 class="card-title">{{ Munkatars.nev }}</h5>
                        <p class="card-text">{{ Munkatars.email }}</p>
                        <p class="card-text">{{ Munkatars.szakterulet }}</p>
                        <p class="card-text">{{ Munkatars.tanulmanyok }}</p>
                        

                        <button class="button" ng-click="toDocProfile(Munkatars.ID)">Megtekintés</button>

                    </div>
                </div>
                </div>

                
            
            

        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Budapest/time" style="text-decoration: none" class="clock24" id="tz24-1676466581-c150-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIxIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I2M2VjZDk5NTVmMjI0IiwidHlwZSI6ImRiIiwibGFuZyI6ImVuIn0=" title="local time in Budapest" target="_blank" rel="nofollow">Budapest time</a></p><div id="clock_block_cb63ecd9955f224"></div></div>
    <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                      </tr>
                    </thead>
                    <tbody>

                        
                      <tr>
                        <td>
                            
                             8-16 óra
                        </td>
                        <td>
                            8-16 óra
                        </td>
                        <td>
                            10-16 óra
                        </td>
                        <td>
                            14-20 óra
                        </td>
                        <td>
                            9-15 óra
                        </td>
                    </tr>
                    

                    </tbody>
                  </table>
              </div>
            
       
        <div class="slogen">
            <h4>
                    Megfizethető árakon minőségi szolgáltatásokat nyújtani.                
            </h4>
        </div>
        
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=baja&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>

<script src="./assets/js/swiper-bundle.min.js"></script>
<script src="./assets/js/script.js"></script>
