<h1>Időpontok</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th>Hétfő</th>
            <th>Kedd</th>
            <th>Szerda</th>
            <th>Csütörtök</th>
            <th>Péntek</th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <td>
                
                 8-16 óra
            </td>
            <td>
                8-16 óra
            </td>
            <td>
                10-16 óra
            </td>
            <td>
                14-20 óra
            </td>
            <td>
                9-15 óra
            </td>
        </tr>
        
        </tbody>
      </table>
  </div>
  <div class=""></div>