
<section>
    <a href="#!/kezelesek"> <button class="btn btn-primary mb-3">Vissza</button></a>
    <br>
    <div>
        <h3>{{kezeles.neve}}</h3><hr>
        <p class="text-justify">
            <h5>Rövid leírás:</h5> 
            {{kezeles.leiras}}
        </p>
        <p class="text-justify"><b>Ára:</b> {{kezeles.ar}} Ft</p>
        <img src="./Assets/HelperImages/{{kezeles.kep}}" class="img-fluid rounded float-right mx-auto hover-shadow w-25 " alt="{{kezeles.neve}}" title="{{kezeles.neve}}" srcset="">
        <hr>
        <h6>Kezeléshez elérhető orvosok:</h6>
        <div ng-repeat="Munkatars in Munkatarsak">
            <p class="kezeles text-dark-emphasis animate__animated animate__bounceInUp" ng-if="Munkatars.kezelesekID==kezeles.ID" ng-click="toDocProfile(Munkatars.ID)">{{Munkatars.nev}}</p>
          </div>
          
    </div>
</section>

