
<div class="col-md-5 border-right">
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Jelszó módosítás</h4>
        </div>
        <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Új jelszó</label><input type="password" ng-model="user.password1" class="form-control" placeholder="Adja meg az új jelszavát" ng-model="user.phone"></div>
            <div class="col-md-12"><label class="labels">Új Jelszó megerősítése</label><input ng-model="user.password2" type="password" class="form-control" placeholder="Erősítse meg az új jelszavát" ng-model="user.email"></div>
        </div>
        <button class="btn btn-primary profile-button" type="button" ng-click="passwdmod()">Jelszó Módosítás mentése</button>
    </div>
</div>