<h1>Üzenetek</h1>

    <table>
        <tr>
            <th>Feladó</th>
            <th>Tárgy</th>
            <th>Dátum</th>
            <th>Törlés</th>
        </tr>
        <a href="#!/mail"> <button ng-cick="newmessage()">Új üzenet írása</button></a>
        <tr ng-repeat="uzenet in uzenetek"  ng-if="uzenet.recipientID==loggedUser.ID" class="kezeles" >
            <td ng-repeat="doktor in doktorok" ng-if="uzenet.senderType==='doktor' && doktor.ID===uzenet.senderID">
                <p >
                    {{doktor.nev}}
                </p>
            </td>
            <td ng-repeat="user in userek" ng-if="uzenet.senderType==='user' && user.ID===uzenet.senderID">
                <p >
                    {{user.nev}}
                </p>
            </td>
            <td >
                <p ng-click="toMessageContent(uzenet.ID)">
                    {{uzenet.tartalom}}
                </p>
            </td>
            <td >
                <p>
                    {{uzenet.datum}}
                </p>
            </td>
            <td >
                <p>
                    <i class="bi bi-trash-fill" ng-click="deleteMessage(uzenet.ID)"></i>
                </p>
            </td>
        </tr>
    </table>
