<h1>Üzenetek</h1>

    <table>
        <tr>
            <th>Feladó</th>
            <th>Tárgy</th>
            <th>Dátum</th>
        </tr>
        <button ng-click="message()">asdawa</button>
        <tr ng-repeat="uzenet in uzenetek"  ng-if="uzenet.recipientID==loggedUser.ID" class="kezeles" ng-click="toMessageContent(uzenet.ID)">
            <td >
                <p>
                    {{$index+1}}
                </p>
            </td>
            <td >
                <p>
                    {{uzenet.tartalom}}
                </p>
            </td>
            <td >
                <p>
                    {{uzenet.datum}}
                </p>
            </td>
        </tr>
    </table>
