<h1>Üzenetek</h1>
<a href="#!/profilom"> <button class="btn btn-primary">Vissza</button></a>

    <table>
        <tr>
            <th>Feladó</th>
            <th>Tárgy</th>
            <th>Dátum</th>
            <th>Törlés</th>
        </tr>
        <a href="#!/mail"> <button class="btn btn-primary" ng-cick="newmessage()">Új üzenet írása</button></a>
        <tr ng-repeat="uzenet in uzenetek"  ng-if="uzenet.recipientID==loggedUser.ID && uzenet.recipientType==loggedUser.jogok" class="kezeles" >
            <td ng-repeat="user in userek" ng-if="user.ID===uzenet.senderID">
                <p  ng-click="toMessageContent(uzenet.ID)">
                    {{user.nev}}
                </p>
            </td>
            <td >
                <p ng-click="toMessageContent(uzenet.ID)">
                    {{uzenet.title}}
                </p>
            </td>
            <td >
                <p  ng-click="toMessageContent(uzenet.ID)">
                    {{uzenet.datum | date:'yyyy:MM:dd'}}
                </p>
            </td>
            <td >
                <p>
                    <i class="bi bi-trash-fill" ng-click="deleteMessage(uzenet.ID)"></i>
                </p>
            </td>
        </tr>
    </table>
